body{
    background-color: #EEEEEE;
    font-family: sans-serif;
}
main{
    text-align: center;
}
#img-div{
    padding: 10px;
    background-color: white;
}
#image{
    width: 100%;
    height: auto;
}
.timeline-heading{
    margin: 40px 0 40px 0;;
}
.tribute-info{
display: block;
}
ul{
    text-align: left;
}
blockquote{
    margin: 50px 0;
    font-style: italic;
}
a{
    color: #47A2CC;
}
h3{
    color: #333333;
}